* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  color: #FFAACC; }

a:link,
a:visited {
  color: #ea83ac;
  text-decoration: none; }

a:hover,
a:active {
  color: #EE99BB;
  text-decoration: underline; }

.wrapper {
  min-width: 355px;
  font-family: sans-serif;
  display: grid;
  grid-gap: 3px;
  grid-template: 120px 150px 1fr 75px / 1fr;
  grid-template-areas: "header" "sidemenu" "content" "footer";
  color: #444;
  background-color: #ffffff; }
  @media screen and (min-width: 768px) {
    .wrapper {
      grid-gap: 10px;
      grid-template: 150px 1fr 100px / 1fr 3fr;
      grid-template-areas: "sidemenu header"  "sidemenu content" "footer footer"; } }

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #424242; }
  .header .title {
    font-size: 2rem; }
  .header .subtitle {
    font-size: 1rem; }
  @media screen and (min-width: 768px) {
    .header {
      border-radius: 0 0 0 5px; }
      .header .title {
        font-size: 3rem; }
      .header .subtitle {
        font-size: 1.3rem; } }

.sidemenu {
  grid-area: sidemenu;
  background-color: #009faf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .sidemenu .nav-title {
    color: #ffffff; }
  .sidemenu .nav {
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center; }
  .sidemenu .nav-item {
    flex-basis: 25%;
    padding: 7px; }
    .sidemenu .nav-item:hover a {
      color: #88ffff; }
  .sidemenu a {
    text-decoration: none;
    color: whitesmoke; }
  @media screen and (min-width: 768px) {
    .sidemenu {
      border-radius: 0 0 5px 0;
      justify-content: flex-start; }
      .sidemenu .nav-title {
        margin-top: 35px;
        font-size: 2.5rem; }
      .sidemenu .nav {
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -ms-sticky;
        position: -o-sticky;
        position: sticky;
        top: 20px;
        flex-direction: column;
        margin-top: 50px;
        width: 100%; }
      .sidemenu .nav-item {
        font-size: 1.3rem;
        padding: 15px; }
        .sidemenu .nav-item:hover {
          background-color: #ffffff; }
          .sidemenu .nav-item:hover a {
            color: #009faf; } }

.content {
  grid-area: content;
  background-color: #ffffff;
  color: #424242; }
  .content .weekly-log {
    margin: 20px;
    padding: 30px;
    box-shadow: 0 0 20px -2px #d6d6d6;
    border-radius: 5px; }
    .content .weekly-log .weekly-title {
      font-size: 1.5rem; }
  .content .daily-log {
    padding: 10px;
    line-height: 150%;
    font-size: 1.1rem; }
    .content .daily-log .daily-title {
      display: block;
      padding: 20px 0;
      font-size: 1.3rem;
      font-weight: bold; }
    .content .daily-log .arrows {
      font-size: 1.2rem;
      padding-right: 5px; }
  @media screen and (min-width: 768px) {
    .content {
      border-radius: 10px 0 0 10px; }
      .content .weekly-log {
        margin: 30px;
        padding: 50px; }
      .content .daily-log {
        padding: 20px; } }

.footer {
  background-color: #424242;
  grid-area: footer; }

/*# sourceMappingURL=main.css.map */
