.content {
    grid-area: content;
    background-color: lighten($color: lightgray, $amount: 10);

    @media screen and (min-width: 768px) {
        border-radius: 10px 0 0 10px;
    }

    .weekly-log {
        margin: 30px;

        .weekly-title {
            font-size: 1.5rem;
        }
    }

    .daily-log {
        padding: 20px;

        .daily-title {
            display: block;
            padding: 20px 0;
            font-size: 1.2rem;
        }
    }
}


